<h1>Tabla Palabra Clave</h1>

<table>
  <thead>
    <tr>
      <th>Id palabra</th>
      <th>Id actor</th>
      <th>Nombre palabra clave</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @palabra_claves.each do |palabra_clafe| %>
      <tr>
        <td><%= palabra_clafe.id_palabra %></td>
        <td><%= palabra_clafe.id_actor %></td>
        <td><%= palabra_clafe.nombre_palabra_clave %></td>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

