<h2>¿Qué es un Observatorio?</h2>
<p>Un observatorio es un servicio web que da a conocer a los usuarios estadísticas sobre la opinión pública que se tiene sobre una serie de actores relacionados con un tema en particular, en este caso “Reclamos de Internet”, cuyos actores son los principales proveedores de Internet del año 2014 en Chile.</p>


