<h1>Tabla Hashtag</h1>

<table>
  <thead>
    <tr>
      <th>Id hashtag</th>
      <th>Id actor</th>
      <th>Nombre hashtag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hashtags.each do |hashtag| %>
      <tr>
        <td><%= hashtag.id_hashtag %></td>
        <td><%= hashtag.id_actor %></td>
        <td><%= hashtag.nombre_hashtag %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

