<p id="notice"><%= notice %></p>

<p>
  <strong>Id hashtag:</strong>
  <%= @hashtag.id_hashtag %>
</p>

<p>
  <strong>Id actor:</strong>
  <%= @hashtag.id_actor %>
</p>

<p>
  <strong>Nombre hashtag:</strong>
  <%= @hashtag.nombre_hashtag %>
</p>

