<h1>Tabla Cuenta</h1>

<table>
  <thead>
    <tr>
      <th>Id cuenta</th>
      <th>Id actor</th>
      <th>Nombre cuenta</th>
      <th>Cantidad seguidores</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuenta.each do |cuentum| %>
      <tr>
        <td><%= cuentum.id_cuenta %></td>
        <td><%= cuentum.id_actor %></td>
        <td><%= cuentum.nombre_cuenta %></td>
        <td><%= cuentum.cantidad_seguidores %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

