<h1>Tabla Actor - Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Id at</th>
      <th>Id actor</th>
      <th>Id tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actor_tweets.each do |actor_tweet| %>
      <tr>
        <td><%= actor_tweet.id_at %></td>
        <td><%= actor_tweet.id_actor %></td>
        <td><%= actor_tweet.id_tweet %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


