<p id="notice"><%= notice %></p>

<p>
  <strong>Id at:</strong>
  <%= @actor_tweet.id_at %>
</p>

<p>
  <strong>Id actor:</strong>
  <%= @actor_tweet.id_actor %>
</p>

<p>
  <strong>Id tweet:</strong>
  <%= @actor_tweet.id_tweet %>
</p>

